## exported functions
export(
  "pCADFtest",
  "pfisher",
  "phadri",
  "Hartung",
  "Pesaran",
  "Simes",
  "spsm")

## methods for class CADFtest
  S3method("summary", "pCADFtest")
  S3method("print", "pCADFtestsummary")

